<library path="lib/libros_jog">
  <class name="ros_jog/RosJog" type="ros_jog::RosJog" base_class_type="rqt_gui_cpp::Plugin">
    <description>
      A simple RQT plugin for jogging a robot arm using a pose controller
    </description>
    <qtgui>
      <group>
        <label>Robot Tools</label>
        <icon type="theme">folder</icon>
        <statustip>Plugins related to robot control.</statustip>
      </group>
      <label>ROS Jogger</label>
      <icon type="theme">input-mouse</icon>
      <statustip>A plugin to publish XYZ values.</statustip>
    </qtgui>
  </class>
</library> 